/* rotate animation */
.animate-rotate {
  transition: transform 1s cubic-bezier(1, 0.48, 0, 1);

  &:hover {
    transform: rotate(360deg) scale(1.2);
  }
}

/* fade-in animation */
.fade-in {
  /* animation: fadeIn 0.75s ease-in-out forwards; */
  transition-property: opacity, scale;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  @starting-style {
    opacity: 0;
    scale: 0.95;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

/* staggered list animation */
.stagger-left > * {
  transition-property: all;
  transition-duration: 500ms;
  transition-delay: calc(150ms * var(--index));
  @starting-style {
    opacity: 0;
    transform: translateX(-10px);
  }
}

.stagger-top > * {
  transition-property: all;
  transition-duration: 500ms;
  transition-delay: calc(150ms * var(--index));
  @starting-style {
    opacity: 0;
    transform: translateY(-10px);
  }
}
