/* You can add global styles to this file, and also import other style files */

@import url('./styles/animation.css');
@import 'tailwindcss';
@import 'tailwindcss-primeui';

/* input {
  &[type='text'],
  &[type='email'],
  &[type='password'] {
    @apply flex h-11 w-full min-w-0 rounded-md border border-gray-300 px-3 py-1 text-base transition-all outline-none file:inline-flex file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:ring disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm;

    &.primary {
      @apply border-neutral-200 bg-neutral-50 focus:border-emerald-500 focus:ring-emerald-500;
    }
  }
}

label {
  @apply flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50;
}

button {
  &.btn {
    @apply relative cursor-pointer focus-visible:ring disabled:cursor-not-allowed disabled:opacity-50;
    @apply inline-flex h-11 shrink-0 items-center justify-center gap-4 rounded-md;
  }

  &.default {
    @apply bg-emerald-600 px-4 py-2 text-sm font-medium whitespace-nowrap text-white transition-all outline-none hover:bg-emerald-700 focus:border-emerald-500 focus:ring-emerald-500;
  }

  &.outline {
    @apply border border-neutral-300 bg-white px-4 py-2 text-sm font-medium whitespace-nowrap text-neutral-700 transition-all outline-none hover:bg-neutral-100 focus:border-emerald-500 focus:ring-emerald-500;
  }

  &.block {
    @apply w-full;
  }
} */
